<div class="baris">
	<h1>UPS!</h1>
	<p>
		Maaf, <strong><%= @no_ujian %></strong> yang anda masukan tidak ditemukan dalam database kami, silahkan masukan nomor yang benar!  
	</p>
	<a style="font-size:13px;margin-top:20px;" href="/" class="tombol">Kembali</a>
</div>
