<div class="baris">
	<h1>404</h1>
	<p>
		maaf, halaman yang anda cari tidak ditemukan
	</p>
	<a style="font-size:13px;margin-top:20px;" href="/<%= auth.credentials.first %>" class="tombol">Kembali</a>
</div>

