
<h2>Selamat datang <br/> di halaman website bina lingkungan</h2>
<p>Silahkan pilih fakultas untuk melakuan login :</p>
<div id="bungkustombol">
	<a href="/fkip">FKIP</a>
	<a href="/hukum">HUKUM</a>
	<a href="/ekonomi">EKONOMI</a>
	<a href="/fsip">FSIP</a>
	<a href="/pertanian">PERTANIAN</a>
	<a href="/kehutanan">KEHUTANAN</a>
	<a href="/perikanan">PERIKANAN</a>
	<a href="/teknik">TEKNIK</a>
	<a href="/kedokteran">KEDOKTERAN</a>
	<a href="/mipa">MIPA</a>
</div>

