<p>
	Selamat datang, silahkan masukan nomor ujuan anda
</p>
<form action="/cari" method="post">
	<label for="no">No Ujian</label>
	<input type="text" id="no" name="noujian" placeholder="00-0-00000" required>
	<button type="submit">Kirim</button>
</form>
